@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

html, body {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;

}

.menu_left {
    background: #383838;
    padding: 52px 30px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 340px;
}

.menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 44px;
}

.menu__logo img {
    max-width: 100%;
}

.menu__list-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    height: 600px;
}

.menu__list-items::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #ccc;
}

.menu__list-items::-webkit-scrollbar-thumb {
    background: #00b1f0;
}

.menu__item {

    border-bottom: 2px solid rgba(242, 242, 242, 0.1);
}

.menu__item:last-child {
    border-bottom: 0;
}

.menu__item a {
    display: block;
    padding: 26px 14px;
    width: calc(100% - 28px);
    text-transform: uppercase;
    color: #B7B7B7;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.menu__item:hover, .menu__item.active {
    background: rgba(255, 255, 255, 0.05);
}

.menu__item:hover a, .menu__item.active a {
    color: #FFFFFF;
}

.content {
    min-height: 100vh;
    padding-left: 400px;
    width: -webkit-calc(100% - 400px);
    width: calc(100% - 400px);
    background: #CCCCCC;
}

.content__container {
    margin: 0 20px;
}

.header {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    padding: 24px 48px;
    margin-bottom: 20px;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.header__search {
    width: 75%;
}

.header__search form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.header__search_input {
    position: relative;
    width: 100%;
    margin-right: 16px;
}

.header__search_input:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    background-image: url("../img/icons/icon__search_grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.header__search_input input {
    position: relative;
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    padding: 14px 40px;
    font-size: 18px;
    color: #999999;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
}

.header__search_button {

}

.header__search_button button {
    cursor: pointer;
    padding: 16px 20px;
    background: #E7A04E;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 0;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.header__search_button button:hover {
    background: #c88c41;
}

.header__search form input:focus {
    outline: 0;
}

.header__button {
}

.header__button_add {
    cursor: pointer;
    padding: 16px 20px;
    background: #4EE7B0;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 0;
    text-align: center;
    text-transform: uppercase;
}

.header__button_add a {
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__button_add:hover {
    background: #4bc8aa;
}

.film {
}

.film__list-items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

}

.film__item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 30%;
    -webkit-flex: 0 1 30%;
    flex: 0 1 30%;
    width: 30%;
    margin: 0 15px 30px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

@media all and (max-width: 1200px) {
    .film__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
    }
}

.film__item_img {
    height: 430px;
    margin-bottom: 20px;
}

.film__item_img img {
    width: 100%;
    height: 100%;
    -o-object-position: top;
    object-position: top;
    -o-object-fit: cover;
    object-fit: cover;
}

.film__item_content {
    padding: 0px 20px 24px;
}

.film__item_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 14px;
}

.film__item_subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    padding-bottom: 15px;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 16px;
}

.film__item_description {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 24px;
}

.film__item_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.film__item_time {
    font-size: 12px;
    line-height: 22px;
    color: #CCCCCC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    white-space: nowrap;
    margin-right: 8px;
}

.film__item_time i {
    margin-right: 4px;
}

.film__item_genre {
    font-weight: 500;
    font-size: 10px;
    line-height: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #CCCCCC;
    white-space: nowrap;
    overflow: hidden;
}

.film__item_showmore-block {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.film__item:hover .film__item_showmore-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.film__item_showmore-button {
    cursor: pointer;
    padding: 20px 60px;
    background: #4EE7B0;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 0;
    text-align: center;
}

.film__item_showmore-button:hover {
    background: #4bc8aa;
}

.film__item_showmore-button a {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.film__page-detail {
    margin: 0px 20px;
    background: #FFFFFF;
    padding: 36px 10px 44px 32px;
}

.film__page-detail_head {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 17px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

.film__page-detail_title {
    margin-bottom: 8px;
}

.film__page-detail_title h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
    word-break: break-word;
}

.film__page-detail_subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #999999;
    word-break: break-word;
}

.film__page-detail_subtitle span {
    margin-left: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #CCCCCC;
    padding: 2px 8px;
    border: 3px solid #CCCCCC;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.film__page-detail_content {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@media all and (max-width: 1200px) {
    .film__page-detail_content {
        flex-direction: column;
    }
}

.film__page-detail_img {
    width: 470px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 470px;
    -ms-flex: 1 0 470px;
    flex: 1 0 470px;
    border: 10px solid #F2F2F2;
}

@media all  and (max-width: 1366px) {
    .film__page-detail_img {
        width: 40%;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 40%;
        -ms-flex: 1 0 40%;
        flex: 1 0 40%;
    }
}

.film__page-detail_img img {
    width: 100%;
}

.film__page-detail_body {
    padding-left: 32px;
    padding-right: 36px;
}

.film__page-detail_rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.film__page-detail_rating-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-right: 12px;
    margin-bottom: 14px;
}

.film__page-detail_rating-line span {
    width: 20px;
    height: 20px;
    background: #F2F2F2;
    border: 5px solid #FFFFFF;
}

.film__page-detail_rating-line span.active {
    background: #E78818;
}

.film__page-detail_rating-line span:hover {
}

.film__page-detail_rating-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: #E78818;
    -webkit-border-radius: 100%;
    border-radius: 100%;

    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.film__page-detail_about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.film__page-detail_about-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    word-break: break-word;
    color: #333333;
    margin-bottom: 22px;
}

.film__page-detail_about-text table {
    width: 100%;
    margin-bottom: 24px;
}

.film__page-detail_about-text tr td {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    word-break: break-word;
}

.film__page-detail_about-text tr td:first-child {
    width: 30%;
    color: #666666;
}

.film__page-detail_description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.film__page-detail_description-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    word-break: break-word;

    color: #333333;
    margin-bottom: 16px;
}

.film__page-detail_description-text {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    word-break: break-word;
}

.film__page-detail_wishlist {
    position: absolute;
    right: 16px;
    top: 6px;
}

.film__page-detail_wishlist i {
    width: 52px;
    height: 52px;
}

/*ICONS*/
.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.icon__time_grey {
    background-image: url(../img/icons/icon__time_grey.svg);
}

.icon__wishlist_grey {
    background-image: url(../img/icons/icon__wish_grey.svg);
}

.icon__wishlist_grey:hover, .icon__wishlist_grey.active {
    background-image: url(../img/icons/icon__wish-with-like_grey.svg);
}